<p id="notice"><%= notice %></p>
<%=link_to 'Задать вопрос', new_question_path, class:"btn btn-primary" %>

<center>
  <h2><%= @question.head %></h2>
  <p><%= @question.body %></p>
</center>

<%= simple_form_for(Answer.new) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :body, :label => "Заголовок вопроса", :input_html => {:style=> 'width: 200px'}%> %>
  </div>

  <%= f.hidden_field :question_id, value: @question.id %>

  <div class="form-actions">
    <%= f.button :submit, 'Дать ответ', class: 'btn btn-primary' %>
  </div>
<% end %>

<center>
  <p>Это квешн айди <%= @question.id %></p>
  <% @answers.each do |n| %>
    <p><%= n.body %></p>
  <% end %>
</center>





<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
